.about-description {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 1200px) {
    .about-description {
        align-items: flex-start;
        flex-basis: 39%;
    }

    .about-description__text {
        
    }
}

@media screen and (max-width: 767px) {
    .about-description {
        margin-top: 11vh;
    }

    .about-description__text {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .about-description {
        
    }
}
