.btn-container {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 1200px) {
    .btn-container__item{
        margin: 0px 7px;
    }
}

@media screen and (max-width: 575px) {
    .btn-container {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
    }

    .btn-container__item {
        margin-bottom: 16px;
    }

    .btn-container__item:last-child {
        margin-bottom: 0;
    }
}
