.feedback {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 89vh;
    bottom: 0;
    right: 0;
    background-color: #313131;
    padding: 106px 100px 0px 103px;
    z-index: 1;
    transform: translateX(100%);
}

.feedback__container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    margin-bottom: 2vh;
}

@media screen and (max-width: 1200px) {
    .feedback {
        width: 462px;
        height: 82vh;
        padding: 82px 100px 0px 103px;
        justify-content: end;
    }
}

@media screen and (max-width: 767px) {
    .feedback {
        border-radius: 12px 12px 0px 0px;
        width: 100%;
        height: 87vh;
    }
}

@media screen and (max-width: 575px) {
    .feedback {
        padding: 30px 44px 0px 35px;
        display: flex;
        justify-content: end;
    }

    .feedback__container {
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .feedback {
        height: 66vh;
    } 
}
