.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-offset);
}

.footer__progress {
    width: 100%;
} 