.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-offset);
    padding-bottom: 32px;
}

.footer__progress {
    width: 100%;
} 

.footer__dev {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 375px) {
    .footer__content {
        padding-bottom: 20px;
    }
}