.header {
    width: 100%;
    position: absolute;
    z-index: var(--z-index-fixed);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-offset);
}
