.header {
    width: 100%;
    position: absolute;
    z-index: var(--z-index-fixed);
    border-bottom: 1px solid transparent;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-offset);
}

.is-mobile-menu-active .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 375px) {
    .header__container {
        padding: 19px 15px;
    }
}