.hero-about {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hero-about__content {
    display: flex;
    position: relative;
    height: 100vh;
    width: 69%;
}

@media screen and (max-width: 1200px) {
    .hero-about {
        padding: 0 30px;
        
    }
    .hero-about__content {
        width: 100%;
}


@media screen and (max-width: 767px) {
    .hero-about {
        width: 100%
    }
    .hero-about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .hero-about__content {
        
    }
}
