.partners-description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

@media screen and (max-width: 1200px) {
    .partners-description__title {
        margin-bottom: 3vh;
    }

    .partners-description {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 767px) {
    .partners-description {
        position: relative;
        width: 100%;
        top: 21vh;
    }

    .partners-description__title {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 375px) {
    .partners-description {
        top: 18vh;
    }

    .partners-description__title {
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
    }

    .partners-description__text-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 3vh;       
    }

    .partners-description__text {
        display: none;
    }
}

@media screen and (min-width: 375px) {
    .partners-description__text-mobile {
        display: none;
    }    
}
