.partners-description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

@media screen and (max-width: 1200px) {
    .partners-description__title {
        margin-bottom: 3vh;
    }

    .partners-description {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 767px) {
    .partners-description {
        flex-basis: 41%;
    }
}

@media screen and (max-width: 375px) {
    .partners-description__text {
        display: none;
    }

    .partners-description {
        align-items: center;
        width: 87%;
        flex-basis: 45%;
    }
}

@media screen and (min-width: 375px) {
    .partners-description__text-mobile {
        display: none;
    }
}
