.partners {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.partners__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .partners__content {
        flex-direction: column-reverse;
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media screen and (max-width: 375px) {
    .partners__content {
        top: 6vh;
        margin-left: 3%;
        margin-right: 2%;
    }
}

