.about-portrait__img {
    position: absolute;
    float: left;
    object-fit: cover;
    bottom: 0;
    height: 83vh;    
}

@media screen and (max-width: 1200px) {
    .about-portrait__img {
        
    }
}

@media screen and (max-width: 767px) {
    .about-portrait__img {
        
    }
}
