.about-right__img {
    position: absolute;
    right: 0;
    height: 100vh;
    object-fit: cover;
}

.about-right__img::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: linear-gradient(270deg, #1F1F1F 0%, rgba(31, 31, 31, 0) 100%);
}

@media screen and (max-width: 375px) {
    .about-right__img {
        display: none;
    }
}
