.btn_primary, .btn_secondry {
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.btn_primary {
    padding: 18px 74px 22px;
}

.btn_secondry {
    padding: 18px 95px 22px;
}

.btn_secondry::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 5%;
    content: "";
    outline: 4px solid #fff;
    outline-offset: -4px;
    transform: skewX(-18deg);
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
    z-index: -1;
}

.btn_primary::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 5%;
    content: "";
    background: linear-gradient(259.83deg, #01CDBA 0%, #0D72CD 100%);
    transform: skew(-18deg);
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
    z-index: -1;
}

.btn_primary:hover::after {
    background: #0B79CB;
}

.btn_secondry:hover::after {
    outline: #01CDBA;
    background-color: #01CDBA;
}
