.button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.button-wrapper__primary, .button-wrapper__secondry {
    position: relative;
    width: 244px;
    height: 64px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    border-style: none;
    background: transparent;
}

.button-wrapper__primary:hover, .button-wrapper__secondry:hover {
    background: linear-gradient(259.83deg, #01CDBA 0%, #0D72CD 100%);
    transform: skewX(-20deg);
}
