.contact-info {
    display: flex;
    flex-direction: row;
    margin: 0 -80px;
}

.contact-info__item {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 80px 5vh;
}

.contact-info__link {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .contact-info { 
        margin: 0 -40px;
    }

    .contact-info__link, .contact-info__item {
        font-size: 14px;
    }
    
    .contact-info__item {
        margin: 0 40px 9vh;
    }
}
