.counter {
    display: flex;
    align-items: center;
}

.counter__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shell__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__arrows-prev, .counter__arrows-next {
    display: flex;
    height: 23px;
    width: 15px;
    margin: 0 15px;
    cursor: pointer;
    color: #fff;
}

.counter__numbers {
    display: flex;
}

.counter__numbers-current, .couner__number-total {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
    font-style: italic;
}

.counter__numbers-line {
    height: 31px;
    width: 5px;
    background: #fff;
    margin: auto 6px 5px 12px;
    transform: skewX(-40deg);
}

@media screen and (max-width: 1200px) {
    .counter__numbers-current, .couner__number-total {
        font-size: 22px;
    }
    .counter__numbers-line {
        height: 18px;
        width: 2px;
        margin: auto 4px 1px 6px;
    }
    .shell__arrows {
        width: 32px;
        height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        margin-right: 20px;
    }
    .counter__arrows-prev, .counter__arrows-next {
        margin: 0px;
    }
}

@media screen and (max-width: 375px) {
    .counter {
        position: absolute;
        transform: rotate(-90deg);
        right: -50px;
        bottom: 90px;
    }
}
