.feedback-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.feedback-list__item {
    position: relative;
    display: flex;
    height: 45px;
    flex-direction: column;
    margin: 20px 0px;
}

.feedback-list__item::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: skewX(-45deg);
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
}

.is-feedback-list__item-active:hover::after {
    background-color: #0B79CB;
}

.feedback-list__item > input {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.feeaback-list__lable {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #AFB8B7;
}

.feedback-list__btn {
    margin: 20px 0px; 
}

.feeaback-list__select {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #AFB8B7;
}
 
@media screen and (max-width: 1200px) {
    .feeaback-list__lable, .feeaback-list__select {
        font-size: 14px;
    }
    .feedback-list__item {
        margin: 3px 0px;
    }
}

@media screen and (max-width: 767px) {
    .feedback-list__item {
        margin: 20px 0px;
    }
}
