.green-title {
    font-style: italic;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 160px;
    line-height: 1.1;
    text-align: center;
    color:#01CDBA;
}

@media screen and (max-width: 1200px) {
    .green-title {
        font-size: 40px;
    }   
}

@media screen and (max-width: 375px) {
    .green-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .green-title {
        margin: 4px 0px;
    }
}
