.logo__icon {
    width: 99px;
    height: 49px;
}

.logo__partners--left {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px; 
    margin: 0% 2% 0 0;
}

.logo__partners--right {
    display: flex;
    align-items: center;
    padding: 27px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
} 

@media screen and (max-width: 1200px) {
    .logo__icon {
        width: 59px;
        height: 41px;
    }
}

@media screen and (max-width: 1200px) {
    .logo__left {
        width: 100px;
        height: 61px;
    }
    
    .logo__right {
        width: 167px;
        height: 55px;
    }

    .logo__container {
        display: flex;
    }

    .logo__partners--left {
        padding: 16px 20px;
    }
    
    .logo__partners--right {
        padding: 19px 20px;
    }
}

.logo__container {
    display: flex;
    margin: 5% 0 0 0;
}
