.logo__icon {
    width: 99px;
    height: 49px;
}

@media screen and (max-width: 1200px) {
    .logo__icon {
        width: 59px;
        height: 41px;
    }
}

.logo__container {
    padding: 1% 0;
    display: flex;
}

.logo__partners--left {
    padding: 20px 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px; 
    margin: 0% 2% 0 0;
}

.logo__partners--right {
    padding: 27px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
} 
