.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-bg__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.second-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1020px;
    height: 536px;
    left: calc(50% - 1020px/2);
    top: calc(50% - 536px/2);
}

.second-title__average {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}

.second-title__big {
    font-weight: 900;
    font-size: 180px;
    line-height: 1;
    text-align: center;
    background: linear-gradient(259.83deg, #01CDBA 0%, #0D72CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media screen and (max-width: 1200px) {
    .second-title__average {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .second-title__big {
        font-size: 60px;
    }
}
