.main-title {
    font-weight: 900;
    font-style: italic;
    font-size: 180px;
    line-height: 1;
    background: linear-gradient(259.83deg, #01CDBA 0%, #0D72CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 32px 0px 32px;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 60px;
        margin: 8px 0px 32px;
    }
}

@media screen and (max-width: 767px) {
    .main-title {
        margin: 8px 0px 32px;
    }
}

@media screen and (max-width: 375px) {
    .main-title {
        font-size: 36px;
    }
}
