.media-card {
    position: relative;
    display: flex;
    margin: 0px 9px;
    height: 100%;
    width: 100%;
}

.media-card > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-card:last-child {
    width: 50%;
}

.media-card:last-child::after {
    position: absolute;
    content: "See all photos";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(11, 121, 203, 0.9);
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .media-card:last-child::after {
        font-size: 14px;
        line-height: 1.285;
    }

    .media-card {
        width: 50%;
        margin: 0 15px;
    }
}

@media screen and (min-width: 767px) {
    .media-card:nth-child(3) {
        display: none;
    }
}
