.nav-menu {
    display: flex;
    align-items: center;
    padding: 10px 0 12px;
    list-style-type: none;
}
.nav-menu__link {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.8);

}
