.nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    margin-top: 3%;
}

.nav-tabs__btn {
    display: flex;
    position: relative;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
    height: 100%;
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #AFB8B7;
    padding: 8px 24px 10px;
    margin-right: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.nav-tabs__btn:last-child {
    margin-right: 0;
}

.nav-tabs__btn:hover {
    background-color: #0B79CB;
    border-color: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .nav-tabs {
        padding: 8px;
        margin: 0;
    }

    .nav-tabs__btn {
        padding: 6px 20px 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    .nav-tabs {
        width: 100%;
        justify-content: space-between;
        padding: 4px;
        margin-top: 4vh;
    }

    .nav-tabs__btn {
        justify-content: center;
        padding-top: 2px;
        padding-bottom: 4px;
        font-size: 12px;
        flex-basis: 44%;
    }
}