.nav-menu {
    display: flex;
    padding-top: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.nav-menu__item {
    margin-left: 30px;
}

.nav-menu__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
    font-size: 20px;
    transition: color 0.4s ease-out;
}

.nav-menu__link::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    transition: background-color 0.4s ease-out;
    transform: skewX(-40deg);
    margin-top: 9px;
    background-color: transparent;
}

.nav-menu__link:hover::after {
    background-color: #fff;
}

.nav-menu__link:hover {
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .nav-menu {
        display: none;
    }
}
