.second-title {
    display: flex;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

.second-title--blue {
    color: #0B79CB;
    margin: 0 12px;
}

@media screen and (max-width: 1200px) {
    .second-title {
        font-size: 20px;
    }

    .second-title--blue {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .second-title {
        font-size: 16px;
    }
}
