.social {
    display: flex;
    align-items: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
    margin-right: 12px;
    padding: 0px;
}


.social__item:hover {
    background-color: #0B79CB;
    border-color: 1px solid rgba(255, 255, 255, 0.1);
}

.social__icon {
    width: 40%;
    height: 40%;
    color: #FFF;
}

.social__item--mobile:hover {
    background-color: #FFF;
}

.social__icon--mobile {
    color: #FFF;
}

.social__icon--mobile:hover {
    color: #0B79CB;
}

.social--mobile {
    margin: 50px 0px 96px;
}

@media screen and (max-width: 1200px) {
    .social__item {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 375px) {
    .social--mobile {
        width: 76px;
        height: 76px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .social__item--mobile {
        margin: 0px;
    }

    .social--mobile {
        margin: 25px 0px 96px;
    }
}
