.text {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AFB8B7;
    line-height: 1.5;
}

.text__container--partners {
    margin: 2% 0 0 0;
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: 14px;
    }
    .text__container--partners  {
        margin: 5% 0 0% 0;
    }
}

@media screen and (max-width: 767px) {
    .text__container {
        display: none;
    }
    .text__container--partners {
        display: block;
    }
}

@media screen and (min-width: 375px) {
    .text--hidden  {
        display: none;
    }
    .text__container--partners {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .text__container--partners {
        display: none;
    }
}
