.text {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AFB8B7;
    line-height: 1.5;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: 14px;
    }
}
