.text {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AFB8B7;
    line-height: 1.5;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: 14px;
    }
}

h1 {
    display: flex;
    align-items: flex-start;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin: 2px 0;
}

h2 {
    display: flex;
    align-items: flex-start;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin: 2px 0;
}
