.title-text {
    position: absolute;
    right: 0;
    width: 43%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 22vh;
}

.about__content-title {
    margin-bottom: 3vh;
}

@media screen and (max-width: 1200px) {
    .title-text {
        align-items: flex-start;
        top: 26vh;
    }
}

@media screen and (max-width: 767px) {
    .title-text {
        position: relative;
        align-items: center;
        top: 16vh;
    }
}

@media screen and (max-width: 375px) {
    .title-text {
        top: 25vh;
    }
}

.title-text--partners {
    width: 100%;
    position: relative;
    top: 0;
    flex-direction: unset;
    align-items: flex-start;
}
