.second_title {
    display: flex;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

.main_title {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-style: italic;
    font-size: 180px;
    line-height: 1;
    background: linear-gradient(259.83deg, #01CDBA 0%, #0D72CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 32px 32px;
}

@media screen and (max-width: 1200px) {
    .second_title {
        font-size: 20px;
    }

    .main_title {
        font-size: 60px;
        padding: 8px 12px 32px;
    }
}

@media screen and (max-width: 375px) {
    .second_title {
        font-size: 16px;
    }
    
    .main_title {
        font-size: 36px;
        padding: 12px 12px 32px;
    }
}